<img src = "../images/logos.png"  align = "center">
<br>
<h1 align=center><font size = 5>Voitures</font></h1>
<h2 align=center><font size = 5>Fusion de Dataframes : Append</font></h2>

### 1. Import des librairies

In [73]:
import pandas as pd
import numpy as np

### 2. Télécharger les jeux de données cars1 et cars2  depuis le drive 
Ces jeux de données sont issus du dépot : [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

   ### 3. Stocker les données dans des dataframes cars1 et cars2.

In [81]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')

### 4. Remarquer et réparer les erreurs dans les colonnes de cars1

In [82]:
cars1 = cars1.dropna(axis=1)
#ou on peut faire un slicing
del(cars2['Unnamed: 0'])
cars1.head(10)

,Unnamed: 0,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl

### 5. Combien y a t-il d'observations dans chaque jeu de données ?

In [83]:
len(cars1)

198

In [84]:
len(cars2)

200

### 6. Assembler les deux jeux dans un un jeu unique cars

In [66]:
cars= cars1.append(cars2)
cars.head()

,Unnamed: 0,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,0.0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN
1,1.0,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN
2,2.0,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN
3,3.0,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN
4,4.0,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN

### 7. Verifier qu'il n'y apparait pas d'erreur, sinon proposer une solution.

In [85]:
cars.tail()

,Unnamed: 0,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
2,2.0,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN
3,3.0,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN
4,4.0,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN
5,5.0,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,NaN
6,6.0,14.0,8,454,220,4354,9.0,70,1,chevrolet impala,NaN

In [86]:
import numpy as np
random_owners=np.random.randint(cars2.owners.min(), high=cars2.owners.max(), size=len(cars1))
cars.owners.iloc[0:len(cars1)] = random_owners
cars.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

ValueError: cannot set using a slice indexer with a different length than the value

<hr>
Copyright &copy; 2020 Hatem & Driss @NEEDEMAND